@font-face {
    font-family: Deutschlander;
    src: url("../font/Deutschlander.otf") format("opentype");
}

@keyframes pan {
    0% {
        background-position: 25% top;
    }

    25% {
        background-position: 75% top;
    }

    50% {
        background-position: 75% top;
    }

    75% {
        background-position: 25% top;
    }

    100% {
        background-position: 25% top;
    }
}

@media only screen and (orientation:portrait) {
    body {
        animation: pan 30s infinite;
    }

    h1 {
        font-size: 14vw;
    }

    h2 {
        font-size: 13vw;
    }

    h3 {
        font-size: 12vw;
    }
    
    .byline {
        line-height: 50px;
    }
}

@media only screen and (orientation:landscape) {
    h1 {
        font-size: 80px;
    }

    h2 {
        font-size: 60px;
    }

    h3 {
        font-size: 60px;
    }
    
    .byline {
        line-height: 10px;
    }
    
    .fl-left {
        float: left;
    }
    
    .fl-right {
        float: right;
    }
}

* {
    color: #fff;
    font-family: Deutschlander;
    text-transform: uppercase;
}

a {
    color: #fff;
}

a:hover {
    text-decoration: none;
    color: #e0a900;
}

body {
    background-color: #000;
    background-image: url("../img/bg.jpg");
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

#bg {
    height: 100vh;
}

.container {
    padding-top: 35vh;
}

.locked {
    color: #bbb
}

.locked:hover {
    color: #bbb
}